
.container {
  padding: 20px;
  max-width: 400px;
  margin: auto;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.message {
  margin-top: 15px;
  color: green;
  font-weight: bold;
  text-align: center;
}

.registerButton {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #dc3545;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
/* checkin.css */

.suggestions {
  position: absolute;
  top: 50px;  /* Adjust as needed */
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}
